/* ========== Buttons ========== */
.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--text);
}

.btn-outline {
    border: 1px solid var(--primary);
    color: var(--primary);
}



/* ========== Cards ========== */
.card {
    padding: 1.5rem;
    border: 1px solid var(--border);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 1.55rem;
    margin-bottom: 1rem;
}