/* ========== Layout ========== */
.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 1rem;
}

.section {
    padding: 4rem 0;
    width: 100%;
}

.section-sm {
    padding: 2rem 0;
}

.gap-xl { gap: 2rem;}
.gap-lg { gap: 1.5rem;}
.gap-md { gap: 1rem;}
.gap-none { gap: 0;}


input {
    width: 100%;
    padding: 0.6rem 0.6rem;
    font-size: 1.1rem;
}

/* ========== Typography ========== */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.text-but-better {
    font-family: "Dancing Script", cursive;
    font-size: 1.2em;
}

.heading-xl { font-size: 2.5rem; margin-bottom: 1.5rem; }
.heading-lg { font-size: 2rem; margin-bottom: 1rem; }
.heading-md { font-size: 1.5rem; }

.text-muted {
    font-style: italic;
    color: var(--muted);
}


/* ========== Grid Helpers ========== */

.grid {
    display: grid;
    gap: 2rem;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-span-2 {
    grid-column: span 2;
}

@media (max-width: 800px) {
    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-span-2 {
        grid-column: span 1;
    }
}


/* ========== Flex Helpers ========== */

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
