/* ========== Grid Helpers ========== */

.grid {
    display: grid;
    gap: var(--space-lg);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-span-2 {
    grid-column: span 2;
}

@media (max-width: 800px) {
    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-span-2 {
        grid-column: span 1;
    }
}