/* ========== Spacing ========== */
.mt-sm { margin-top: 0.5rem; }
.mt-md { margin-top: 1rem; }
.mt-lg { margin-top: 2rem; }

.mb-sm { margin-bottom: 0.5rem; }
.mb-md { margin-bottom: 1rem; }
.mb-lg { margin-bottom: 2rem; }

.gap-xl { gap: 2rem;}
.gap-lg { gap: 1.5rem;}
.gap-md { gap: 1rem;}
.gap-none { gap: 0;}